<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo"
        src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-colorful-gradient-blue-pastel-watercolor-border-png-image_3709081.jpg" />
    <span>MySongApp</span>
    <div class="spacer"></div>
    <ul class="nav-links m-3">
        <li class="nav-link"><a [routerLink]="['/']">Home</a></li>
        <!-- <li class="nav-link"><a [routerLink]="['/home']">Albums</a></li> -->
        <li class="nav-link"><a [routerLink]="['/favorites']">Favorites</a></li>
    </ul>
</div>